<h1>Вопрос из темы <%= @question.test.title %></h1>

Body: <%= @question.body %><br>

<%= link_to 'Редактировать вопрос', edit_question_path(@question) %>
<%= link_to 'Удалить',
            question_path(@question),
            method: :delete,
            data: { confirm: 'Вы уверены?' } %>
