<h1>All tests:</h1>

<table>
  <tr>
    <th>Title</th>
    <th colspan="2">Actions</th>
  </tr>
  <%= render @tests %>
</table>

<p>
  <%= link_to 'Create new test', new_admin_test_path %> | Manage categories
</p>
